.carousel-container {
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

svg {
    height: 30px;
    cursor: pointer;
}

.arrow-icon-left {
    position: absolute;
    z-index: 20;
    left: 30px;
}

.arrow-icon-right {
    position: absolute;
    z-index: 20;
    right: 30px;
}